{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-conten padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <aside class="col-md-4">
                <ul class="list-group">
                    <a class="list-group-item active" href="#">
                      <i class="fa-solid fa-circle-info"></i>
                      &nbsp;
                      My information
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-book"></i>
                      &nbsp;
                      Wait for confirmation
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-box"></i>
                      &nbsp;
                      Waiting for delivery
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-truck"></i>
                      &nbsp;
                      Delivering
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-hand-holding-hand"></i>
                      &nbsp;
                      Delivered
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-ban"></i>
                      &nbsp;
                      Canceled
                    </a>
                    <a class="list-group-item" href="#">
                      <i class="fa-solid fa-gear"></i>
                      &nbsp;
                      Settings
                    </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'change_password' %}">
                  <i class="fa-solid fa-pencil"></i>
                  <span class="text">Change password</span>
                </a>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}">
                  <i class="fa fa-power-off"></i>
                  <span class="text">Log out</span>
                </a>
            </aside>
            <main class="col-md-8">
                <article class="card">
                    <table class="table">
                        <tbody>
                          <tr>
                            <td scope="row">First name:</td>
                            <th>{{ user.first_name }}</th>
                          </tr>
                          <tr>
                            <td scope="row">Last name:</td>
                            <th>{{ user.last_name }}</th>
                          </tr>
                          <tr>
                            <td scope="row"> Username:</td>
                            <th>{{ user.username }}</th>
                          </tr>
                          <tr>
                            <td scope="row">Email:</td>
                            <th>{{ user.email }}</th>
                          </tr>
                          <tr>
                            <td scope="row">Phone number:</td>
                            {% if user.phone_number %}
                                <th>{{ user.phone_number }}</th>
                            {% else %}
                                <td> + Add phone number </td>
                            {% endif %}
                          </tr>
                        </tbody>
                      </table>
                </article>
                <br />
                <a class="btn btn-light btn-block" href="{% url 'change_information' %}">
                  <i class="fa-solid fa-pencil"></i>
                  <span class="text">Change information</span>
                </a>
            </main>
        </div>
    </div>


</section>
{% endblock %}