{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Our Store</h2>
  </div>
</section>
<section class="section-content padding-y">
  <div class="container">
    <div class="row">
      <main class="col-md-9">
        <div class="row">
          {% for product in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">
                <img src="{{ product.images.url }}" />
              </div>
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">${{ product.price }}</span>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
          {% endfor %}
        </div>
      </main>
    </div>
  </div>
</section>
{% endblock %}